<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        Angular
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Material
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Front-end
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Dashboard
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            2020 Feb, made with Angular <img src="{{CONSTANTS.ANGULAR_LOGO}}" alt="" width="25"> for
            <b class="text-success">Frontend Dashboard Template</b>
        </div>
    </div>
</footer>